{% load static %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Главная</title>
        <link rel="stylesheet" href="{% static 'css/cacke.css' %}">
    </head>

    <body>
        <div class="page-header">
            <h1><a href="">Bulka</a></h1>
            
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.nachinka }}
            <input type="Submit" name="submit" value="Submit"/>
        </form>
        
        <div class="content container">
            <div class="row2">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>





</html>