<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Главная</title>
        <link rel="shortcut icon" href="{% static 'css/logo.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/cacke.css' %}">
    </head>

    <body>
        <div class="page-header">
            <h3><img src="{% static 'css/logo.png' %}">Bakery</h3>
           
        </div>
        <h4>Текст про подбор хб изделий</h4>
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                <td class="whod"><p class="name">{{ form.name }}</p></td>
                <td><input class="but1" type="Submit" name="Submit" value="Применить"/></td>
                <td><input class="but1" type="Submit" name="Reset" value="Очистить"/></td>
            </table>
            <table>
                <tr>
                    <td ><p class="nach_n">Начинка </p></td>
                    <td><p class="testo_n">Тесто</p></td>
                    <td><p class="pric_n">Цена</p></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="whod"><p class="nach">{{ form.nachinka }}</p></td>
                    <td class="whod"><p class="testo">{{ form.testo }}</p></td>
                    <td class="whodpric"><p class="pric">от {{ form.price_l }}</p></td>
                    <td class="whodpric"> <p class="pric">до {{ form.price_r }}</p></td>
                </tr>
            </table>

        </form>
                
        <h5>Предложения</h5>
        
        <div class="col-md-8">
        {% block content %}
        {% endblock %}
        </div>
            
    </body>





</html>