{% extends 'cacke/base.html' %}
{% load static %}

{% block content %}
    {% for cac in cacke %}
        <div class="cacke">
            
            <h2>{{ cac.name }}</h2>
            <p>Начинка: {{ cac.nachinka|linebreaksbr }}</p>
            <p>Тесто: {{ cac.testo|linebreaksbr }}</p>
            <p>Цена: {{ cac.price|linebreaksbr }}</p>
            <p>Описание: {{ cac.text_ops|linebreaksbr }}</p>
            <img src= "{{ cac.imgs.url }}" width="100" height="105">
        </div>
    {% endfor %}
{% endblock %}